.markdown-preview-view h1 {font-weight: 700;font-size: 30px;color:#000000}
.markdown-preview-view h2 {font-weight: 600;font-size: 25px;color:#333333}
.markdown-preview-view h3 {font-weight: 550;font-size: 20px;color:#666666}
.markdown-preview-view h4 {font-weight: 400;font-size: 10px;color:#ff5555}
.markdown-preview-view h5 {font-weight: 400;font-size: 10px;color:#ff5555}
.markdown-preview-view h6 {font-weight: 400;font-size: 10px;color:#ff5555}